<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Style Guides
            </div>
            <div class="panel panel-body">
                <p>
                    Mock the backend, eg build Angular with no backend
                    for fast <a href="https://docs.angularjs.org/api/ngMockE2E/service/$httpBackend">prototyping</a>
                    and
                    <a href="http://www.alfrednutile.info/posts/58">http://www.alfrednutile.info/posts/58</a>
                </p>
                <hr>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Libraries
            </div>
            <div class="panel panel-body">
                <ul class="list-unstyled">
                    <li>
                        <a href="http://getbootstrap.com/" target="_blank"
                           class="btn btn-success">
                            <i class="glyphicon glyphicon-bullhorn">&nbsp;</i>
                            Bootstrap for Elements
                        </a>
                    </li>
                    <li>
                        <br>
                        <a href="http://angular-ui.github.io/bootstrap/" target="_blank" class="btn btn-info">
                            <i class="glyphicon glyphicon-camera">&nbsp;</i>
                            Angular Bootstrap for Modal etc
                        </a>
                    </li>
                    <li>
                        <br>
                        <a href="http://vitalets.github.io/angular-xeditable/" target="_blank" class="btn btn-default">
                            <i class="glyphicon glyphicon-fire">&nbsp;</i>
                            Xeditable for editable form widgets
                        </a>
                    </li>
                    <li>
                        <br>
                        <a href="http://gulpjs.com/" target="_blank" class="btn btn-warning">
                            <i class="glyphicon glyphicon-cog">&nbsp;</i>
                            Gulp for task tools
                        </a>
                        <ul>
                            <li>
                                <a href="https://github.com/wearefractal/gulp-concat">
                                    concatenation
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/johnpapa/angularjs-styleguide#minification-and-annotation">
                                    annotation/mini-fi
                                </a>-or-<a href="https://www.npmjs.org/package/gulp-ng-annotate">gulp-annotate</a>
                            </li>
                            <li>
                                <a href="https://www.npmjs.org/package/gulp-angular-templatecache">
                                    template cache
                                </a>
                            </li>
                            <li>
                                <a href="https://speakerdeck.com/johnpapa/gulp-and-grunt">
                                    gulp examples
                                </a>
                            </li>
                            <li>
                                <a href="http://devchat.tv/adventures-in-angular/006-aia-build-processes">
                                    podcast
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Helpers
            </div>
            <div class="panel panel-body">
                <ul>
                    <li>Bootstrap HTML Generation LayItOut</li>
                    <li><a href="http://www.json-generator.com/" target="_blank">JSON Generator</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>