<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel panel-body">
                <p>
                    This examples shows
                    <ol>
                        <li>Getting Data from api</li>
                        <li>PHP Controller -> Service -> Repo Design Pattern</li>
                        <li>PHP / Angular use of Pager</li>
                    </ol>
                    <input type="text" ng-model="search" class="form-control" placeholder="example filter">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <th>Name</th>
                            <th>Email</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.model | filter:search">
                                <td>{{item.name.first}} {{item.name.last}}</td>
                                <td>{{item.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </p>
                <hr>
                <h3>Good way to see data in json</h3>
                <pre>{{ vm.model | json }}</pre>
            </div>
        </div>
    </div>
</div>