<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel panel-body">
                <p>
                    This examples shows
                    <ol>
                        <li>Getting Data from api</li>
                        <li>PHP Controller -> Service -> Repo Design Pattern and Transformer</li>
                        <li>PHP / Angular use of Pager (at 5 each call)</li>
                    </ol>
                    <input type="text" ng-model="search" class="form-control" placeholder="example filter">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <th>Id</th>
                            <th>Email</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.users | filter:search">
                                <td>{{item.id}}</td>
                                <td>{{item.mail}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <ul class="pager">
                        <li class="previous" ng-class="vm.previousClass(vm.pager.current_page)"><a href="#">
                            Previous</a>
                        </li>
                        <li> | <strong>Total: {{ vm.pager.total }} </strong>  | </li>
                        <li class="next">
                            <a href="#"
                               class="next"
                               ng-class="{disabled: vm.pager.last_page != vm.pager.current_page}">Next</a>
                        </li>
                    </ul>
                </p>
                <hr>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-lg-5 column">
                            <h3>Good way to see data in json</h3>
                            <pre>{{ vm.users | json }}</pre>
                        </div>
                        <div class="col-lg-5 column">
                            <h3>Checkout the PHP Pattern</h3>
                            <p>
                                From app/Http/routes.php you see the Resource Method used and Route::groups.
                                <br>
                                The Controller was made with a simple command.
                            </p>
                            <pre>php artisan make:controller UsersController</pre>
                            <p>
                                There are notes in there under the index method to guide you through the communications and setup of
                                <ul>
                                    <li>ResponseHelper</li>
                                    <li>Service and Service Provider</li>
                                    <li>Repository</li>
                                    <li>Transformer Library</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>