<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel panel-body">
                <p>
                    This will show some design elements we use. Overall this is found at the <a href="http://getbootstrap.com/">boostrap</a> site and http://www.layoutit.com/ which is
                a great way to quickly get some html in bootstrap fashion.
                </p>
                <p>Here is an outline of tools and thoughts behind them</p>


                <ul>
                    <li>
                        <a href="http://getbootstrap.com/">Bootstrap</a> lays down the html / css framework to build consistent sites BUT that do not have to look alike.
                    </li>
                    <li>
                        <a href="https://wrapbootstrap.com">WrapBootstrap</a> is one example of numerous themes built around Bootstrap.
                    </li>
                    <li>
                        <a href="http://www.layoutit.com/build?r=75839483">Layoutit</a> is a great way to crank out HTML for POC amd mock ups in Bootstrap html.
                        That link is one I made and shared with some common elements.
                    </li>
                </ul>


            </div>
        </div>
    </div>
</div>