<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel panel-body">
                <p>
                    This is key for fast prototyping of Angular.
                    Note the included assets/js/app.js file calls ngMockE2E
                    With that we can set a "run" area to intercept or passThrough
                    a request.
                    For example the table below is data from a mock json response.
                    {{ vm.data }}
                </p>
            </div>
        </div>
    </div>
</div>