<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Style Guides
            </div>
            <div class="panel panel-body">
                Coming soon..
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel panel-heading">
                Libraries
            </div>
            <div class="panel panel-body">
                Coming soon..
            </div>
        </div>


        <div class="panel panel-default">
                <div class="panel panel-heading">
                    Helpers
                </div>
                <div class="panel panel-body">
                    <h3>Reseed the db</h3>
                    <pre>php artisan migrate:refresh --seed</pre>
                    <hr>
                </div>
        </div>
    </div>
</div>