<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Style Guides
            </div>
            <div class="panel panel-body">
                Coming soon..
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel panel-heading">
                Libraries
            </div>
            <div class="panel panel-body">
                Coming soon..
            </div>
        </div>
    </div>
</div>